@import "tailwindcss";

@theme {
  --color-primary-brown: #372222;
  --color-primary-pink: #e6b59d;
  --color-primary-beige: #ebc75b;
  --breakpoint-xs: 22.5rem;
  --font-sans: "Inter", sans-serif;
}

body {
  @apply bg-white text-primary-brown font-sans;
  font-optical-sizing: auto;
}

html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
